@media (max-width:1023px) {
    .hamburger {
        display: none;
    }   
    .container {
        width: 80%;
  } 
    header {
        right: auto;
        width: 100vw;
        height: 50px;
        border-bottom: 1px solid gray;
    }
    .header-list {
        position: fixed;
        transform: translateX(100%);
        transition: 0.4s ease;
        top: 50px;
        right: 0;
        width: 200px;
        height: calc(100vh - 50px);
    }
    
    .header-list.active {
        transform: translateX(0);
        padding-top: 80px;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        background-color:rgba(0,0,0,0.8);
        gap: 30px;
        
    }
    
    .header-list.active a {
        color: white;
    }
    .hamburger {
        position: fixed;
        right: 10px;
        top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: none;
        background: none;
        width: 50px;
        height: 50px;
    }
    .hamburger span{
        width: 30px;
        height: 2px;
        background-color: #333;
        transition: 0.3s ease;
        
    }
    .hamburger.active span{
        position: absolute;
    }
    .hamburger.active span:nth-child(1){
        transform: rotate(45deg);
        top: 15px;

    }
    .hamburger.active span:nth-child(3){
        transform: rotate(-45deg);
        top: 15px;
    }
    .hamburger.active span:nth-child(2){
        display: none;
    }
    .btn-book {
        display: inline;
        background-color: transparent;
        border-radius: none;
        padding: none;
    }
     .top-image {
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .top-title h1 {
        font-size: 70px;
    }
}
@media(max-width:767px) {
    .container {
        width: 90%;
    }
    .hamburger {
        position: fixed;
        right: 10px;
        top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: none;
        background: none;
        width: 50px;
        height: 50px;
    }
    .hamburger span{
        width: 30px;
        height: 2px;
        background-color: #333;
        transition: 0.3s ease;
        
    }
    .hamburger.active span{
        position: absolute;
    }
    .hamburger.active span:nth-child(1){
        transform: rotate(45deg);
        top: 15px;

    }
    .hamburger.active span:nth-child(3){
        transform: rotate(-45deg);
        top: 15px;
    }
    .hamburger.active span:nth-child(2){
        display: none;
    }
    .btn-book {
        display: inline;
        background-color: transparent;
        border-radius: none;
        padding: none;
    }
     .top-image {
        object-position: center;
    }
    .top-title {
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-align: center;
    }
    .top-title h1 {
        font-size: 40px;
    }
}


